<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
      angular.module('nyanmatrix', []);
    </script>
    <script src="pixcontdirve.js"></script>
    <script src="pix.js"></script>
    <script src="https://use.fontawesome.com/e3fd6275a9.js"></script>
    <link href="style.css" rel="stylesheet"/>
    <title>PixelHunt Editor</title>
  </head>
  <body ng-app="nyanmatrix">
    <div class="logo">
      <img ng-src="src/pixhuntlogo.png"/>
    </div>
    <p class="apptitle">
      PixelHunt Alpha v.0.2.0 by Mironov MIkhail
    </p>
    <div class="matrix" ng-controller="matrixcontrol">
      <span ng-click="fill()" class="fld" ng-repeat="(sym, col) in line track by $index">
          <div ng-controller="pix" ng-click="fill()" class="{{line[$index]['col']}} {{grid}}"></div>
      </span>
      <div class="palit">
        <ul>
          <li>
            <button ng-click="brush($event)" id="red" class="red"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="blue" class="blue"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="black" class="black"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="white" class="white"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="orange" class="orange"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="green" class="green"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="cookie" class="cookie"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="pinka" class="pinka"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="pinkb" class="pinkb"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="pinkc" class="pinkc"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="purple" class="purple"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="yellow" class="yellow"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="gray" class="gray"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="pepe" class="pepe"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="brown" class="brown"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="yo" class="yo"></button>
          </li>
          <li>
            <button ng-click="undo()" class="clear-short" title="Undo"><i class="fa fa-reply" aria-hidden="true"></i></button>
          </li>
          <li>
            <button ng-click="redo()" class="clear-short" title="Redo"><i class="fa fa-share" aria-hidden="true"></i></button>
          </li>
          <li>
            <button ng-click="cleaner()" class="clear-short"><i class="fa fa-eraser" aria-hidden="true"></i></button>
          </li>
          <li>
            <button ng-click="brushSize()" class="clear-short"><i class="fa fa-paint-brush" aria-hidden="true"></i></button>
          </li>
          <li>
            <button ng-click="clear()" class="clear-short" title="Refresh canvas"><i class="fa fa-refresh" aria-hidden="true"></i></button>
          </li>
          <li>
            <button ng-click="save()" class="clear-short"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
          </li>
          <li>
            <button ng-click="loading = false" class="clear-short"><i class="fa fa-download" aria-hidden="true"></i></button>
          </li>
          <li>
            <button ng-click="sethide = false" class="clear-short"><i class="fa fa-cog" aria-hidden="true"></i></button>
          </li>
        </ul>
        <div class="curcol {{generalClass}}">
          <span class="emodwarn"><i ng-hide="ermode" class="fa fa-eraser" aria-hidden="true"></i></span>
        </div>
        <div class="curbrush">
          <span class="brushmode">{{brushmode}}</span>
        </div>
        <div class="brush-size" ng-hide="brushSizer">
            <p>
              <i class="fa fa-paint-brush" aria-hidden="true"></i>Brush Size
            </p>
              <button ng-click="brushmodel1()">1px</button>
              <button ng-click="brushmodel4()">4px square</button>
              <button ng-click="brushmodel5()">5px circle</button>
              <button ng-click="brushmodel9()">9px square</button>
              <button ng-click="brushmodel13()">13px circle</button>
        </div>
      </div>
      <div class="saveling" ng-hide="saveling">
        <p>
          Copy, and save this to *.txt
        </p>
        <textarea placeholder="Whoops...">{{savearr}}</textarea>
        <button ng-click="saveling = true">I saved this as TXT</button>
        <button ng-click="saveling = true">I want to save this as PNG</button>
      </div>
      <div class="saveling" ng-hide="loading">
        <p>
          If you were saved our save array, you can past this here to continue or just load it
        </p>
        <textarea ng-model="loader" placeholder="Paste here your save file..."></textarea>
        <button ng-click="load()">I want to load this</button>
      </div>
      <div class="settings" ng-hide="sethide">
        <h2>
          Settings
        </h2>
        <hr/>
        <p class="cansize">
          <span class="setname">Canvas Size : </span><input ng-model="xSize" placeholder="80" type="text"/> x <input ng-model="ySize" placeholder="24" type="text"/>
        </p>
        <p class="cansize">
          <span class="setname">Canvas color : </span>
            <select ng-options="canfill as canfill.col for canfill in calfills track by canfill.id" ng-model="cancol">
              <option>
                nyanspace(default)
              </option>
              <option>
                white
              </option>
            </select>
        </p>
        <p class="cansize">
          <span class="setname">Show grid : </span><input type="checkbox" ng-model="gridShow"/>
        </p>
        <hr />
        <button ng-click="setconfirm()">Confirm</button>
        <button ng-click="sethide = true">Close</button>
      </div>
    </div>
    <script>
      'use strict';
      angular.module('nyanmatrix').controller('matrixcontrol', ['$scope', matrixcontrol]);
      var curcol = "pinkb";
      var index;
      var clear;
      var save;
      var cansize;
      var cancol;
      var mode = "brush1";
      function matrixcontrol($scope) {
        $scope.line = [];
        $scope.saveling = true;
        $scope.loading = true;
        $scope.sethide = true;
        $scope.brushSizer = true;
        $scope.ermode = true;
        $scope.ySize = 40;
        $scope.brushmode = "1px";
        $scope.canfills = [{col: "white"}, {col: "pepe"}];
        for (var i = 0; i < cansize ; i++) {
          $scope.line.push({col: "none"});
        }
        clear = $scope.line;
        $scope.emode = " ";
        $scope.generalClass = 'pinkb';
        $scope.curcol = $scope.generalClass;
      $scope.brush = function(e) {
          $scope.generalClass = e.target.getAttribute('class');
          $scope.curcol = $scope.generalClass;
          curcol = $scope.curcol;
          $scope.ermode = true;
        };
        $scope.brushmodel1 = function() {
          mode = "brush1";
          $scope.brushmode = "1px";
        }
        $scope.brushmodel4 = function() {
          mode = "brush4";
          $scope.brushmode = "4px";
        }
        $scope.brushmodel5 = function() {
          mode = "brush5";
          $scope.brushmode = "5px";
        }
        $scope.brushmodel9 = function() {
          mode = "brush9";
          $scope.brushmode = "9px";
        }
        $scope.brushmodel13 = function() {
          mode = "brush13";
          $scope.brushmode = "13px";
        }
        $scope.cleaner = function() {
          $scope.ermode = false;
          $scope.curcol = "cleaner";
          $scope.generalClass = "pinkb"
        };
        $scope.fill = function() {
          if (mode == "brush1"){
          $scope.line[index]['col'] = $scope.curcol;
          //  console.log('pix#' + index + ' filled by ' + $scope.curcol);
        };
          if (mode == "brush4") {
            $scope.line[index]['col'] = $scope.curcol;
            $scope.line[index + 1]['col'] = $scope.curcol;
            $scope.line[index - 80]['col'] = $scope.curcol;
            $scope.line[index - 79]['col'] = $scope.curcol;
          };
          if (mode == "brush5") {
            $scope.line[index]['col'] = $scope.curcol;
            $scope.line[index + 1]['col'] = $scope.curcol;
            $scope.line[index - 80]['col'] = $scope.curcol;
            $scope.line[index + 80]['col'] = $scope.curcol;
            $scope.line[index - 1]['col'] = $scope.curcol;
          };
          if (mode == "brush9") {
            $scope.line[index]['col'] = $scope.curcol;
            $scope.line[index + 1]['col'] = $scope.curcol;
            $scope.line[index - 80]['col'] = $scope.curcol;
            $scope.line[index - 81]['col'] = $scope.curcol;
            $scope.line[index - 79]['col'] = $scope.curcol;
            $scope.line[index + 80]['col'] = $scope.curcol;
            $scope.line[index + 81]['col'] = $scope.curcol;
            $scope.line[index + 79]['col'] = $scope.curcol;
            $scope.line[index - 1]['col'] = $scope.curcol;
          };
          if (mode == "brush13") {
            $scope.line[index]['col'] = $scope.curcol;
            $scope.line[index + 1]['col'] = $scope.curcol;
            $scope.line[index + 2]['col'] = $scope.curcol;
            $scope.line[index - 80]['col'] = $scope.curcol;
            $scope.line[index - 160]['col'] = $scope.curcol;
            $scope.line[index - 81]['col'] = $scope.curcol;
            $scope.line[index - 79]['col'] = $scope.curcol;
            $scope.line[index + 80]['col'] = $scope.curcol;
            $scope.line[index + 160]['col'] = $scope.curcol;
            $scope.line[index + 81]['col'] = $scope.curcol;
            $scope.line[index + 79]['col'] = $scope.curcol;
            $scope.line[index - 1]['col'] = $scope.curcol;
            $scope.line[index - 2]['col'] = $scope.curcol;
          };
        };
        $scope.clear = function() {
          $scope.line = [];
	         if ($scope.xSize = "") {
             for (var i = 0; i < 1920 ; i++) {
               $scope.line.push({col: "none"});
             };
	          }
	        else {
	           for (var i = 0; i < cansize ; i++) {
               $scope.line.push({col: "none"});
             };
	          }
        };
        $scope.brushSize = function() {
          if ($scope.brushSizer == true) {
            $scope.brushSizer = false;
          }
          else {
            $scope.brushSizer = true;
          };
        };
        $scope.save = function() {
          $scope.saveling = false;
          save = JSON.stringify($scope.line);
          $scope.savearr = save;
        };
        $scope.load = function() {
          if ($scope.loader != NaN) {
            save = JSON.parse($scope.loader);
            $scope.line = save;
            cansize = $scope.line.length;
            $scope.loading = true;
          }
          else {
            $scope.line = [];
            $scope.loading = true;
          };
        };
        $scope.setconfirm = function() {
          cansize = 80 * $scope.ySize;
          if ($scope.gridShow == true) {
            $scope.grid = "grid";
          }
          else {
            $scope.grid = "none";
          };
          if ($scope.line.length < cansize) {
            for (var i = $scope.line.length ; i < cansize ; i++) {
              $scope.line.push({col: "none"});
              };
          };
          if ($scope.line.length > cansize) {
            for (var i = $scope.line.length ; i > cansize ; i--) {
              $scope.line.pop();
              };
            };
           $scope.sethide = true;
        };
      };
    </script>
  </body>
</html>
