<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
      angular.module('nyanmatrix', []);
    </script>
    <script src="pixcontdirve.js"></script>
    <script src="pix.js"></script>
    <link href="style.css" rel="stylesheet"/>
    <title>PixelHunt Editor</title>
  </head>
  <body ng-app="nyanmatrix">
    <p class="apptitle">
      PixelHunt Alpha v.0.0.9 by Mironov MIkhail
    </p>
    <div class="matrix" ng-controller="matrixcontrol">
      <span ng-click="fill()" class="fld" ng-repeat="(sym, col) in line track by $index">
          <div ng-controller="pix" ng-click="fill()" class="{{line[$index]['col']}} {{grid}}"></div>
      </span>
      <div class="palit">
        <ul>
          <li>
            <button ng-click="brush($event)" id="red" class="red"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="blue" class="blue"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="black" class="black"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="white" class="white"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="orange" class="orange"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="green" class="green"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="cookie" class="cookie"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="pinka" class="pinka"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="pinkb" class="pinkb"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="pinkc" class="pinkc"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="purple" class="purple"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="yellow" class="yellow"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="gray" class="gray"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="pepe" class="pepe"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="brown" class="brown"></button>
          </li>
          <li>
            <button ng-click="brush($event)" id="yo" class="yo"></button>
          </li>
          <li>
            <button ng-click="cleaner()" class="clear">Eraser</button>
          </li>
          <li>
            <button ng-click="clear()" class="clear">Clear all</button>
          </li>
          <li>
            <button ng-click="save()" class="clear">Save</button>
          </li>
          <li>
            <button ng-click="loading = false" class="clear">Load</button>
          </li>
          <li>
            <button ng-click="sethide = false" class="clear">Settings</button>
          </li>
        </ul>
        <div class="curcol {{generalClass}}">
          <span class="emodwarn">{{emode}}</span>
        </div>
      </div>
      <div class="saveling" ng-hide="saveling">
        <p>
          Copy, and save this to .txd
        </p>
        <textarea placeholder="Whoops...">{{savearr}}</textarea>
        <button ng-click="saveling = true">I saved this as TXT</button>
        <button ng-click="saveling = true">I want to save this as PNG</button>
      </div>
      <div class="saveling" ng-hide="loading">
        <p>
          If you were saved our save array, you can past this here to continue or just load it
        </p>
        <textarea ng-model="loader" placeholder="Paste here your save file..."></textarea>
        <button ng-click="load()">I want to load this</button>
      </div>
      <div class="settings" ng-hide="sethide">
        <h2>
          Settings
        </h2>
        <hr/>
        <p class="cansize">
          <span class="setname">Canvas Size : </span><input ng-model="xSize" placeholder="80" type="text"/> x <input ng-model="ySize" placeholder="24" type="text"/>
        </p>
        <p class="cansize">
          <span class="setname">Canvas color : </span>
            <select ng-options="canfill as canfill.col for canfill in calfills track by canfill.id" ng-model="cancol">
              <option value="">
                nyanspace
              </option>
            </select>
        </p>
        <p class="cansize">
          <span class="setname">Show grid : </span><input type="checkbox" ng-model="gridShow"/>
        </p>
        <hr />
        <button ng-click="setconfirm()">Confirm</button>
        <button ng-click="sethide = true">Close</button>
      </div>
    </div>
    <script>
      'use strict';
      angular.module('nyanmatrix').controller('matrixcontrol', ['$scope', matrixcontrol]);
      var curcol = "white";
      var index;
      var clear;
      var save;
      var cansize;
      var cancol;
      function matrixcontrol($scope) {
        $scope.line = [];
        $scope.saveling = true;
        $scope.loading = true;
        $scope.sethide = true;
        $scope.ySize = 40;
        $scope.canfills = [{col: "white"}, {col: "pepe"}];
        for (var i = 0; i < cansize ; i++) {
          $scope.line.push({col: "none"});
        }
        clear = $scope.line;
        $scope.emode = " ";
        $scope.curcol = curcol;
        $scope.generalClass = 'white';
        $scope.brush = function(e) {
          $scope.generalClass = e.target.getAttribute('class');
          $scope.curcol = $scope.generalClass;
          curcol = $scope.curcol;
          $scope.emode = " ";
        };
        $scope.cleaner = function() {
          $scope.emode = "Eraser mode!"
          $scope.curcol = "cleaner";
        };
        $scope.fill = function() {
          $scope.line[index]['col'] = $scope.curcol;
        //  console.log('pix#' + index + ' filled by ' + $scope.curcol);
        };
        $scope.clear = function() {
          $scope.line = [];
	         if ($scope.xSize = "") {
             for (var i = 0; i < 1920 ; i++) {
               $scope.line.push({col: "none"});
             };
	          }
	        else {
	           for (var i = 0; i < cansize ; i++) {
               $scope.line.push({col: "none"});
             };
	          }
        };
        $scope.save = function() {
          $scope.saveling = false;
          save = JSON.stringify($scope.line);
          $scope.savearr = save;
        };
        $scope.load = function() {
          if ($scope.loader != NaN) {
            save = JSON.parse($scope.loader);
            $scope.line = save;
            cansize = $scope.line.length;
            $scope.loading = true;
          }
          else {
            $scope.line = [];
            $scope.loading = true;
          };
        };
        $scope.setconfirm = function() {
          cansize = $scope.xSize * $scope.ySize;
          if ($scope.gridShow == true) {
            $scope.grid = "grid";
          }
          else {
            $scope.grid = "none";
          }
          if ($scope.line.length < cansize) {
            for (var i = $scope.line.length ; i < cansize ; i++) {
              $scope.line.push({col: "none"});
              };
          };
          if ($scope.line.length > cansize) {
            for (var i = $scope.line.length ; i > cansize ; i--) {
              $scope.line.pop();
              };
            };
           $scope.sethide = true;
        };
      };
    </script>
  </body>
</html>
