<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
      angular.module('nyanmatrix', []);
    </script>
    <script src="pixcontdirve.js"></script>
    <script src="pix.js"></script>
    <link href="style.css" rel="stylesheet"/>
    <title>nyanmatrix</title>
  </head>
  <body ng-app="nyanmatrix">
    <p class="apptitle">
      8bitnyan by Mironov MIkhail
    </p>
    <div class="matrix" ng-controller="matrixcontrol">
      <span ng-click="fill()" class="fld" ng-repeat="(sym, col) in line track by $index">
        <div ng-controller="pix" ng-click="fill()" class="{{line[$index]['col']}}"></div>
      </span>
      <div class="palit">
        <ul>
          <li>
            <button ng-click="brushred()" id="red" class="red"></button>
          </li>
          <li>
            <button ng-click="brushblue()" id="blue" class="blue"></button>
          </li>
          <li>
            <button ng-click="brushblack()" id="black" class="black"></button>
          </li>
          <li>
            <button ng-click="brushwhite()" id="white" class="white"></button>
          </li>
          <li>
            <button ng-click="brushorange()" id="orange" class="orange"></button>
          </li>
          <li>
            <button ng-click="brushgreen()" id="green" class="green"></button>
          </li>
          <li>
            <button ng-click="brushcookie()" id="cookie" class="cookie"></button>
          </li>
          <li>
            <button ng-click="brushpinka()" id="pinka" class="pinka"></button>
          </li>
          <li>
            <button ng-click="brushpinkb()" id="pinkb" class="pinkb"></button>
          </li>
          <li>
            <button ng-click="brushpinkc()" id="pinkc" class="pinkc"></button>
          </li>
          <li>
            <button ng-click="brushpurple()" id="purple" class="purple"></button>
          </li>
          <li>
            <button ng-click="brushyellow()" id="yellow" class="yellow"></button>
          </li>
          <li>
            <button ng-click="brushgray()" id="gray" class="gray"></button>
          </li>
          <li>
            <button ng-click="clear()" class="clear">Clear all</button>
          </li>
          <li>
            <button ng-click="save()" class="clear">Save</button>
          </li>
          <li>
            <button ng-click="loading = false" class="clear">Load</button>
          </li>
        </ul>
      </div>
      <div class="curcol {{curcol}}">
      </div>
      <div class="saveling" ng-hide="saveling">
        <p>
          Copy, and save this to .txd
        </p>
        <textarea placeholder="Whoops...">{{savearr}}</textarea>
        <button ng-click="saveling = true">I saved this</button>
      </div>
      <div class="saveling" ng-hide="loading">
        <p>
          If you were saved our save array, you can past this here to continue or just load it
        </p>
        <textarea ng-model="loader" placeholder="Paste here your save file..."></textarea>
        <button ng-click="load()">I want to load this</button>
      </div>
    </div>
    <script>
      'use strict';
      angular.module('nyanmatrix').controller('matrixcontrol', ['$scope', matrixcontrol]);
      var curcol = "white";
      var index;
      var clear;
      var save;
      function matrixcontrol($scope) {
        console.log('NYAN NYAN!');
        console.log('OK, NYAN, DO AN ARRAY!');
        $scope.line = [];
        $scope.saveling = true;
        $scope.loading = true;
        for (var i = 0; i < 1920 ; i++) {
          $scope.line.push({col: "none"});
        }
        clear = $scope.line;
        console.log('*nyan!*');
        $scope.curcol = curcol;
      $scope.brushred = function() {
        $scope.curcol = "red";
        curcol = $scope.curcol;
        console.log('Nyanbrush is ' + curcol);
        };
        $scope.brushblue = function() {
          $scope.curcol = "blue";
          console.log('Nyanbrush is ' + $scope.curcol);
          };
          $scope.brushblack = function() {
            $scope.curcol = "black";
            console.log('Nyanbrush is ' + $scope.curcol);
            };
            $scope.brushpinka = function() {
              $scope.curcol = "pinka";
              console.log('Nyanbrush is ' + $scope.curcol);
              };
              $scope.brushpinkb = function() {
                $scope.curcol = "pinkb";
                console.log('Nyanbrush is ' + $scope.curcol);
                };
                $scope.brushgreen = function() {
                  $scope.curcol = "green";
                  console.log('Nyanbrush is ' + $scope.curcol);
                  };
                  $scope.brushorange = function() {
                    $scope.curcol = "orange";
                    console.log('Nyanbrush is ' + $scope.curcol);
                    };
                    $scope.brushwhite = function() {
                      $scope.curcol = "white";
                      console.log('Nyanbrush is ' + $scope.curcol);
                      };
                      $scope.brushcookie = function() {
                        $scope.curcol = "cookie";
                        console.log('Nyanbrush is ' + $scope.curcol);
                        };
                        $scope.brushgray = function() {
                          $scope.curcol = "gray";
                          console.log('Nyanbrush is ' + $scope.curcol);
                          };
                          $scope.brushpinkc = function() {
                            $scope.curcol = "pinkc";
                            console.log('Nyanbrush is ' + $scope.curcol);
                            };
                            $scope.brushpurple = function() {
                              $scope.curcol = "purple";
                              console.log('Nyanbrush is ' + $scope.curcol);
                              };
                              $scope.brushyellow = function() {
                                $scope.curcol = "yellow";
                                console.log('Nyanbrush is ' + $scope.curcol);
                                };
            $scope.fill = function() {
              $scope.line[index]['col'] = $scope.curcol;
            //  console.log('pix#' + index + ' filled by ' + $scope.curcol);
            };
            $scope.clear = function() {
              $scope.line = [];
              for (var i = 0; i < 1920 ; i++) {
                $scope.line.push({col: "none"});
                };
            };
            $scope.save = function() {
              $scope.saveling = false;
              save = JSON.stringify($scope.line);
              $scope.savearr = save;
            };
            $scope.load = function() {
              save = JSON.parse($scope.loader);
              $scope.line = save;
              $scope.loading = true;
            };
      };
    </script>
  </body>
</html>
