@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
html, body {
  background-color: #070707;
  min-width: 600px;
  font-family: 'Arial', sans-serif;
}
.logo {
  position: fixed;
  left: 0;
  right: 0;
  width: 450px;
  height: 160px;
  top: 50%;
  margin: -80px auto;
}
.apptitle {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #202020;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  text-align: center;
}
.saveling {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  position: fixed;
  height: 500px;
  width: 880px;
  left: 100px;
  right: 0;
  top: 50%;
  margin: -275px auto;
  background: #101010;
  border: 2px solid #202020;
  z-index: 100;
  text-align: center;
  padding: 20px;
}
.saveling textarea {
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
  background: #131313;
  border: 2px solid #202020;
  color: #999999;
  border-radius: 5px;
}
.saveling button, .settings button {
  padding: 10px;
  background: #131313;
  border: 2px solid #202020;
  color: #999999;
  border-radius: 5px;
  transition: 0.2s linear;
  cursor: pointer;
}
.saveling button:hover {
background: #151515;
}
.saveling p {
  font-weight: 500px;
}
.settings{
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  position: fixed;
  height: 250px;
  width: 280px;
  left: 0;
  right: 0;
  top: 50%;
  margin: -170px auto;
  background: #101010;
  border: 2px solid #202020;
  z-index: 100;
  text-align: center;
  padding: 20px;
}
.settings p {
  color: #909090;
  width: 100%;
  text-align: left;
}
.settings input[type="text"]{
  background: #101010;
  border: 2px solid #151515;
  padding: 10px;
  box-sizing: border-box;
  width: 50px;
  color: #909090;
  text-align: center;
}
.settings input[type="checkbox"]{
  position: relative;
  background: #101010;
  border: 2px solid #151515;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  color: #909090;
  top: 2px;
  text-align: center;
}
.settings select {
  width: 110px;
  text-align: center;
  background: #101010;
  border: 2px solid #151515;
  padding: 10px;
  margin-left: 0px;
  box-sizing: border-box;
  color: #909090;
}
.setname {
width: 100px;
margin-right: 50px;
}
.cansize {
  border-top: 1px solid #202020;
  padding-top: 15px;
}
.matrix {
  position: absolute;
  background: transparent;
  width: 1040px;
  left: 130px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  margin: auto;
  padding: 0;
}
.fld {
  border: 0px solid black;
  letter-spacing: 7px;
  line-height: 12px;
  color: transparent;
  font-size: 12px;
  margin: 0;
  float: left;
  font-weight: 600;
  background: #003466;
  cursor: none;
}
.fld:hover {opacity: 0.5;}
.fld div {
  width: 12px;
  height: 12px;
  transition: 0.08s linear;
  opacity: 1;
  border-top: 1px dotted transparent;
  border-right: 1px dotted transparent;
}
.palit {
  background: #131313;
  color: #ffffff;
  position: fixed;
  left: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  text-align: left;
  border-right: 2px solid #151515;
}
.palit ul {
  width: 84px;
}
.palit li {
  margin-left: -20px;
  margin-right: 20px;
  float: left;
  list-style-type: none;
  list-style-position: outside;
}
.palit button {
  border: none;
  color: #ffffff;
  margin-right: 4px;
  margin-bottom: 4px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.curcol {
  width: 42px;
  height: 42px;
  float: right;
  margin-right: 26px;
  margin-top: 20px;
  bottom: -100px;
  cursor: pointer;
  transition: 0.08s linear;
  border: 2px solid #191919;
  z-index: 110;
}
.curbrush {
  width: 42px;
  height: 42px;
  float: right;
  margin-right: 26px;
  margin-top: 20px;
  bottom: -100px;
  cursor: pointer;
  transition: 0.08s linear;
  border: 2px solid #191919;
  z-index: 110;
}
.clear {
  font-size: 12px;
  width: 64px!important;
  margin-bottom: 1px;
  color: #909090!important;
  background: #202020;
  transition: 0.08s linear;
}
.clear-short {
  font-size: 12px;
  width: 30px!important;
  margin-bottom: 1px;
  color: #909090!important;
  background: #202020;
  transition: 0.08s linear;
}
.clear:hover ,.clear-short:hover{
  background: #303030;
}
.emodwarn {
  position: absolute;
  margin-top: 10px;
  font-size: 20px;
  color: #fcfcfc;
  margin-left: 10px;
}
.brush-size {
  position: absolute;
  padding-top: 20px;
  width: 250px;
  height: 60px;
  background: #181818;
  left: 102px;
  top: 290px;
  border: 2px solid #212121;
}
.brush-size p {
position: absolute;
top: -3px;
left: 5px;
font-size: 10px;
color: #8a8a8a;
}
.brush-size i {
  margin-right: 5px;
}
.brush-size button {
  background: #151515;
  font-size: 9px;
  color: #8a8a8a;
  width: 40px;
  height: 40px;
  margin: 10px 5px;
  left: 0;
  right: 0;
  float: left;
  position: relative;
  transition: 0.1s linear;
}
.brush-size button:hover {
  background: #272727;
}
.brushmode {
  font-size: 10px;
  color: #8a8a8a;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 13px auto;
}
/*span:nth-child(80) {
  background: white;
}*/
.white {background: #ffffff;}
.red {background: #fe0000;}
.orange {background: #fe9901;}
.green {background: #00ff01;}
.blue {background: #0080ff;}
.purple {background: #6835ff;}
.cookie {background: #ffcb99;}
.gray {background: #999999;}
.black {background: #000000;}
.pinka {background: #ff99ff;}
.pinkb {background: #ee3696;}
.pinkc {background: #ff999a;}
.yellow {background: #fffd3a;}
.pepe {background: #5a8d3e;}
.brown {background: #a7593a;}
.yo {background: #ecd349;}
.cleaner {background: transparent;}
.grid {border-top: 1px dotted #555555!important; border-right: 1px dotted #555555!important;}
