html, body {
  background: #000000;
  font-family: 'Arial', sans-serif;
}
.apptitle {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #202020;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  text-align: center;
}
.saveling {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  position: fixed;
  height: 600px;
  width: 980px;
  left: 0;
  right: 0;
  top: 50%;
  margin: -300px auto;
  background: #101010;
  border: 2px solid #202020;
  z-index: 100;
  text-align: center;
  padding: 20px;
}
.saveling textarea {
  width: 100%;
  height: 450px;
  margin-bottom: 30px;
  background: #131313;
  border: 2px solid #202020;
  color: #999999;
  border-radius: 5px;
}
.saveling button, .settings button {
  padding: 10px;
  background: #131313;
  border: 2px solid #202020;
  color: #999999;
  border-radius: 5px;
  transition: 0.2s linear;
  cursor: pointer;
}
.saveling button:hover {
background: #151515;
}
.saveling p {
  font-weight: 500px;
}
.settings{
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  position: fixed;
  height: 500px;
  width: 380px;
  left: 0;
  right: 0;
  top: 50%;
  margin: -300px auto;
  background: #101010;
  border: 2px solid #202020;
  z-index: 100;
  text-align: center;
  padding: 20px;
}
.settings p {
  color: #909090;
  width: 100%;
  text-align: left;
}
.settings input{
  background: #101010;
  border: 2px solid #151515;
  padding: 10px;
  box-sizing: border-box;
  width: 50px;
  color: #909090;
  text-align: center;
}
.setname {
width: 100px;
margin-right: 50px;
}
.matrix {
  position: absolute;
  background: transparent;
  width: 1040px;
  max-height: 500px;
  min-height: 298px;
  left: 130px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  margin: auto;
  padding: 0;
}
.fld {
  border: 0px solid black;
  letter-spacing: 7px;
  line-height: 12px;
  color: transparent;
  font-size: 12px;
  margin: 0;
  float: left;
  font-weight: 600;
  background: #003466;
  cursor: default;
  transition: 0.08s linear;
}
.fld:hover {opacity: 0.5;}
.fld div {
  width: 13px;
  height: 13px;
  transition: 0.08s linear;
  opacity: 1;
}
.palit {
  background: #090909;
  color: #ffffff;
  position: fixed;
  left: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  text-align: left;
  border-right: 2px solid #151515;
}
.palit ul {
  width: 84px;
}
.palit li {
  margin-left: -20px;
  margin-right: 20px;
  float: left;
  list-style-type: none;
  list-style-position: outside;
}
.palit button {
  border: none;
  color: #ffffff;
  margin-right: 4px;
  margin-bottom: 4px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.curcol {
  width: 42px;
  height: 42px;
  float: right;
  margin-right: 26px;
  margin-top: 20px;
  bottom: -100px;
  cursor: pointer;
  transition: 0.08s linear;
  border: 2px solid #191919;
  z-index: 110;
}
.clear {
  font-size: 12px;
  width: 64px!important;
  margin-bottom: 1px;
  color: #909090!important;
  background: #202020;
  transition: 0.08s linear;
}
.clear:hover {
  background: #303030;
}
.emodwarn {
  position: absolute;
  margin-top: 60px;
  font-size: 10px;
  color: #ffffff;
  margin-left: -10px;
}
/*span:nth-child(80) {
  background: white;
}*/
.white {background: #ffffff;}
.red {background: #fe0000;}
.orange {background: #fe9901;}
.green {background: #00ff01;}
.blue {background: #0080ff;}
.purple {background: #6835ff;}
.cookie {background: #ffcb99;}
.gray {background: #999999;}
.black {background: #000000;}
.pinka {background: #ff99ff;}
.pinkb {background: #ee3696;}
.pinkc {background: #ff999a;}
.yellow {background: #fffd3a;}
.pepe {background: #5a8d3e;}
.brown {background: #a7593a;}
.cleaner {background: transparent;}
